{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white">Halo, {{username}}</a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active text-white" href="{% url 'wishlist:show_wishlist' %}">Home</a>
          </li>
        </ul>
        <a class="nav-item btn btn-light"  href="{% url 'wishlist:logout' %}">Logout</a>
    </div>
</nav>

<div class="mx-5 my-5">
    <table class="table">
        <tr>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
        </tr>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
            <tr>
                <td>{{barang.nama_barang}}</td>
                <td>{{barang.harga_barang}}</td>
                <td>{{barang.deskripsi}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<button><a href="{% url 'wishlist:logout' %}">Logout</a></button>


{% endblock content %}